.page-header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.page-header-box {
  height: 47px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 22px 0;
}

.page-logo {
  order: 1;
  display: block;
  width: 212px;
  font-family: "Oleo Script", cursive;
  color: #fff;
  text-align: center;
  font-size: 18px;
  // text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  display: block;
}

.page-logo:hover {
  text-decoration: none;
  color: #fff;
}

.page-logo_span {
  width: 129px;
  height: 18px;
  font-size: 33px;
  display: block;
  text-align: center;
  color: $color-logo;
}
.page-nav {
  order: 2;
  @media (max-width: 1300px) {
    display: none;
  }
}
.page-nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.page-nav-list-element {
}
.page-nav-list-element a {
  color: #fff;
  text-decoration: none;
  padding: 7px 12px;
  margin-left: 20px;
  border-radius: 6px;
  transition: 0.5s background;
  text-transform: uppercase;
  font-size: 14px;

  &:hover {
    background: $color-logo;
  }
}

.page-nav-list li.active a {
  color: #fff;
  background: $color-text;
}

.page-nav__elements {
  order: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  @media (max-width: 1300px) {
    display: flex;
    order: 2;
  }
}

.btn {
  width: 193px;
  height: 41px;
  background: $color-logo;
  border: 0;
  margin-left: 20px;
  border-radius: 6px;
  display: flex;
  font-size: 14px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  position: relative;

  span {
    width: 21px;
    height: 17px;
    display: inline-block;
    background-image: url("../assets/icon_plate.png");
  }

  ::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 3px;
  }
}

.page-nav_btn-shop {
  position: relative;
  display: block;
  width: 21px;
  height: 17px;
  background-image: url("../assets/icon_cart.png");
  margin: 0 20px;
}

.page-nav_btn-shop::before {
  content: "3";
  display: block;
  position: absolute;
  width: 11px;
  height: 11px;
  font-size: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  background-color: #fe4c8d;
  border-radius: 50%;
  color: #fff;
}

.page-nav_btn-shop::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  top: 7px;
  right: -16px;
}

// mobile menu

.page-nav-mobile {
  display: none;
  order: 3;
}
.mobile-nav {
  display: none;
}
@media (max-width: 1300px) {
  .container {
    max-width: 800px;
  }
  .page-nav-mobile {
    display: flex;
    order: 3;
    z-index: 10000;
    margin: 15px;
  }
  .page-nav-mobile_bars {
    display: inline-block;
    cursor: pointer;
  }

  .bar {
    width: 35px;
    height: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar:nth-child(1) {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }

  .change .bar:nth-child(2) {
    opacity: 0;
  }

  .change .bar:nth-child(3) {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
}

#mobile-nav{
  display: flex;
  position: absolute;
  top: 91px !important;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff !important;
}

.mobile-nav-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fff;
  align-items: center;
  width: 100%;
}

.mobile-nav-element {
  display: flex;
  list-style: none;
  width: 100%;
  height: calc((70%)/7);
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color:  #fff;

  &:hover {
    background-color: rgba(197, 211, 197, 0.15);
    cursor: pointer;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.5);
  }
}

.mobile-nav-element a{
    text-transform: uppercase;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
      font-weight: bold;
    }
  }  
